[[source]]
url = "https://pypi.org/simple"
verify_ssl = true
name = "pypi"

[packages]
requests = "*"
pyomo = "==6.6.1"
pandas = "==1.5.3"
highspy = "==1.5.3"
fastapi = {version = "==0.97.0", extras = ["all"]}

[dev-packages]
pytest = "*"
ipykernel = "*"
notebook = "==6.5.4"

[requires]
python_version = "3.11"
